@page
@model RazorPages.Pages.Login.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoginCredentials.Id" value="1"/>
            <div class="form-group">
                <label asp-for="LoginCredentials.Username" class="control-label"></label>
                <input asp-for="LoginCredentials.Username" class="form-control" />
                <span asp-validation-for="LoginCredentials.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginCredentials.Password" class="control-label"></label>
                <input asp-for="LoginCredentials.Password" class="form-control" />
                <span asp-validation-for="LoginCredentials.Password" type="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./UserLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
